.react-dadata__container {
    position: relative !important;
    flex: 1 1 auto !important;
    width: 1% !important;
    margin-bottom: 0 !important;
}

.react-dadata__input {
    height: calc(1.5em + .75rem + 2px) !important;
    padding: .375rem .75rem !important;
    font-size: 1rem !important;
    border: 1px solid #ced4da !important;
    border-radius: .25rem !important;
}

.react-dadata__input:focus {
    color:#495057 !important;
    background-color:#fff !important;
    border-color:#80bdff !important;
    outline: 0 !important;
    box-shadow: 0 0 0 .2rem rgba(0,123,255,.25) !important;
}
  
.react-dadata__suggestion--current {
    background-color: #e7f1ff !important;
}
  
.react-dadata__suggestion:hover {
    background-color: #f0f8ff !important;
}
    
.react-dadata--highlighted {
    color: #1c7ae5 !important;
}